.ipynb_checkpoints/
__pycache__/
*.log
*.log.*
*.data
.vscode/
*.nn
*.stats
*.*.back
build/
dist/
*.egg-info
*.svg
*.png
dask-worker-space/
.idea/
#*.rst
_build/
*.zip
H2O*/
LJ*/
.virtual_documents/
*.pkl
*.json
.coverage
.tox
